{% extends 'base.html' %}
{% load static %}

{% block title %}
    Chat
{% endblock %}

{% block content %}
<input type="hidden" id="userId" value="{{ user.id }}">
<input type="hidden" id="roomId" value="{{ room.id }}">
<div class="bordered">
    <div class="message">
        <b>Username</b>: <span>User massage</span>
    </div>
    <div class="row fixed-bottom mx-5 my-3">
        <div class="col-md-9">
            <textarea class="form-control" id="message"></textarea>
        </div>
        <div class="col-md-3">
           <button class="btn btn-success" id="send-message">Send</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}